.App {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 1600px;
  height: 900px;
  background-color: var(--light-blue);
  background-image: url('/src/assets/background_city1-3400x900.png');
  color: white;
  text-align: center;
  font-size: 24px;

  transition: background-position-x 100ms ease-in-out;

  &.page-Play {
    background-position-x: 0px;
  }
  &.page-Loadout {
    background-position-x: -400px;
  }
  &.page-Gonk {
    background-position-x: -800px;
  }
  &.page-Battle {
    background-position-x: -1200px;
  }
  &.page-Quests {
    background-position-x: -1600px;
  }

  header, footer {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    height: 80px;
    background: var(--blue);
    text-shadow: 2px 2px var(--light-blue);

    button {
      text-shadow: inherit;
    }
  }

  header {
    top: 0;
    z-index: 500;
    padding: 0 20px;
    text-align: left;

    button {
      height: 60px;
      margin: 0 10px;
      padding: 0 10px;
      border: 0;
      background: none;
      color: white;
      text-transform: uppercase;

      &.battle {
        /* color: var(--light-cyan); */
        font-size: 28px;
        font-weight: 700;
      }

      &.active {
        color: var(--light-orange);
      }
    }
  }

  footer {
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    font-size: 35px;

    span {
      display: flex;
      align-items: center;
      width: 200px;
      margin: 0 30px;
      gap: 10px;
    }
  }

  .gonk-highlight {
    position: absolute;
    left: -25px;
    bottom: -120px;
    z-index: 2000;
    animation: 6s linear 0s infinite normal rotate;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gonktext {
  color: var(--purple);
}

.zoidtext {
  color: var(--dark-gold);
}
