.App {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 1600px;
  height: 900px;
  background-color: var(--light-blue);
  background-image: url('/src/assets/background_city1-3400x900.png');
  color: white;
  text-align: center;
  font-size: 20px;

  transition: background-position-x 100ms ease-in-out;

  &.page-Play {
    background-position-x: 0px;
  }
  &.page-Loadout {
    background-position-x: -400px;
  }
  &.page-Shop {
    background-position-x: -800px;
  }
  &.page-Battle {
    background-position-x: -1200px;
  }
  &.page-Quests {
    background-position-x: -1600px;
  }

  header, footer {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 500;
    height: 80px;
    background: var(--blue);
  }

  header {
    top: 0;
    padding: 0 20px;
    text-align: left;

    button {
      height: 60px;
      margin: 0 10px;
      padding: 0 10px;
      border: 0;
      background: none;
      color: white;
      text-transform: uppercase;

      &.active {
        color: var(--light-orange);
      }
    }
  }

  footer {
    bottom: 0;
  }
}
