.Loadout {
  .items {
    position: absolute;
    top: 205px;
    left: 125px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    row-gap: 20px;

    button {
      position: relative;
      width: 150px;
      height: 150px;
      box-shadow: 0 0 0 5px black;
      background-color: rgb(255 255 255 / .6);
      overflow: hidden;

      img {
        position: absolute;
        left: -125px;
      }

      &.hat img {
        top: 0px;
      }
      &.face img {
        top: -70px;
      }
      &.shirt img {
        top: -175px;
      }
      &.pants img {
        top: -290px;
      }
    }
  }

  .nav {
    position: absolute;
    top: 730px;
    left: 125px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 830px;

    button {
      padding: 10px 20px;
      background-color: var(--cyan);
      box-shadow: 5px 5px 0 0 var(--light-cyan) inset, -5px -5px 0 0 var(--dark-cyan) inset;
      color: white;
    }
  }

  .tube {
    position: absolute;
    top: 0;
    right: 36px;
    z-index: 600;
  }

  .Player {
    position: absolute;
    top: 258px;
    right: 75px;
    z-index: 700;
  }
}
