.ModalOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  inset: 0;
  background-color: transparent;
  pointer-events: none;
  transition: all 500ms linear;

  &.visible {
    background-color: rgb(255 255 255 / .4);
    pointer-events: all;
  }

  .Modal {
    position: relative;
    top: 900px;
    transition: all 500ms ease-in-out;
    max-width: 400px;
    padding: 30px;
    background-color: var(--light-white);
    box-shadow: 5px 5px 0 0 white inset, -5px -5px 0 0 var(--dark-white) inset;
    font-size: 24px;
    text-align: center;

    &.visible {
      top: 0;
    }

    strong {
      background: linear-gradient(to bottom, var(--dark-orange), var(--orange), var(--light-blue), var(--purple), var(--dark-purple));
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    button {
      padding: 10px 20px;
      background-color: var(--orange);
      box-shadow: 5px 5px 0 0 var(--light-orange) inset, -5px -5px 0 0 var(--dark-orange) inset;
      color: white;
    }

    .boughtitem {
      width: 300px;
      height: 300px;
      margin: 20px auto;
      overflow: hidden;
      position: relative;
      background: var(--off-white);

      img {
        position: absolute;
        left: -50px;

        &.hat {
          top: 15px;
        }
        &.face {
          top: 15px;
        }
        &.top {
          top: -100px;
        }
        &.bottom {
          top: -220px;
        }
      }
    }
  }
}
