.Play {
  padding: 60px;
  background-color: var(--cyan);
  box-shadow: 5px 5px 0 0 var(--light-cyan) inset, -5px -5px 0 0 var(--dark-cyan) inset;

  h2 {
    margin: 0 0 40px;
  }

  button {
    padding: 20px;
    border: 0;
    background-color: var(--orange);
    box-shadow: 5px 5px 0 0 var(--light-orange) inset, -5px -5px 0 0 var(--dark-orange) inset;
    color: white;
  }
}
