.Shop {
  .main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 215px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    .items {
      display: grid;
      grid-template: repeat(2, 1fr) / repeat(7, 1fr);
      gap: 20px;
      row-gap: 20px;
      height: 490px;

      div {
        &.locked {
          color: var(--red);
        }

        button {
          position: relative;
          width: 150px;
          height: 150px;
          box-shadow: 0 0 0 5px black;
          background-color: rgb(255 255 255 / .6);
          overflow: hidden;

          &[disabled] {
            opacity: 1;
          }

          img {
            position: absolute;
            left: -125px;
          }

          &.remove img {
            top: 0px;
            left: 0px;
          }
          &.hat img {
            top: 0px;
          }
          &.face img {
            top: -70px;
          }
          &.shirt img {
            top: -175px;
          }
          &.pants img {
            top: -290px;
          }
        }

        p {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          margin: 10px;
          font-size: 24px;
          text-shadow: 2px 2px black, -2px -2px black, 2px -2px black, -2px 2px black, -2px 0 black, 2px 0 black;

          img {
            width: 48px;
            height: 48px;
          }
        }
      }
    }

    .nav {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 1170px;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 50px;
        background-color: var(--cyan);
        box-shadow: 5px 5px 0 0 var(--light-cyan) inset, -5px -5px 0 0 var(--dark-cyan) inset;
        color: white;
      }
    }
  }
}
