@font-face {
  font-family: 'PixelifySans';
  font-weight: 400;
  src:
    url('assets/PixelifySans-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'PixelifySans';
  font-weight: 500;
  src:
    url('assets/PixelifySans-Medium.ttf') format("truetype");
}

@font-face {
  font-family: 'PixelifySans';
  font-weight: 600;
  src:
    url('assets/PixelifySans-SemiBold.ttf') format("truetype");
}

@font-face {
  font-family: 'PixelifySans';
  font-weight: 700;
  src:
    url('assets/PixelifySans-Bold.ttf') format("truetype");
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  margin: 0;
  background: var(--dark-blue);
  font-family: PixelifySans, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  font-weight: 400;
  cursor: url('/src/assets/cursor-arrow.png'), auto;

  --light-cyan: #4ff3ff;
  --cyan: #26bbe9;
  --dark-cyan: #1798d4;

  --light-blue: #4fb8ff;
  --blue: #267ae9;
  --dark-blue: #1759d4;

  --light-orange: #ffd156;
  --orange: #ffa61f;
  --dark-orange: #d85d09;

  * {
    outline: none;
  }

  button {
    font-family: inherit;
    font-size: inherit;
    border: 0;
    cursor: url('/src/assets/cursor-hover.png'), pointer;

    &[disabled] {
      opacity: .5;
      pointer-events: none;
    }
  }
}
